<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://testingwebappxxx.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>testingwebappxxx.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>testingwebappxxx</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$testingwebappxxx</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ApplicationContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:linebalancing.database.windows.net,1433;Initial Catalog=linebalancing;User ID=linebalancing;Password=ShimanoDBTest123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="LineBalancing.Context.ApplicationContext, LineBalancing" MigrationConfiguration="LineBalancing.Migrations.Configuration, LineBalancing" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DbContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=LineBalancing.Context.DbContext;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=(LocalDb)\MSSQLLocalDB;initial catalog=LineBalancing.Context.DbContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="ApplicationContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:linebalancing.database.windows.net,1433;Initial Catalog=linebalancing;User ID=linebalancing;Password=ShimanoDBTest123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>